
.footer{
    position: relative;
    background: #061E43;
    color: #8798B3;

    &_main{
        padding: 30px 20px;
        @include flex(space-between , center, null, null);
        @include media("<tablet"){
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            // justify-content: unset;
        }

        .right{
            p{
                // font-weight: 500;
                font-family: $font;
                font-size: fluid(14,16);
            }
        }

        .left{
            position: relative;
            .ft-list{
                @include flex(null, center, null, 2rem);
                li{
                    font-weight: 400;
                    font-size: fluid(14,16);
                }
            }
        }
    }
}